* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  padding: $container-padding;
  margin: 0 auto;
}

section {
  padding: $section-padding;

  @include max-width($tablet) {
    padding: $section-padding-tablet;
  }

  @include max-width($phone) {
    padding: $section-padding-phone;
  }
}
