/* Buttons */
button {
  cursor: pointer;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: $button-min-width;
  padding: $button-padding;
  margin: $button-margin;
  font-family: $button-font;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  color: $white;
  text-align: center;
  background-color: $red;
  border-color: $red;
  border-style: solid;
  border-width: 1px;
  border-radius: $button-border-radius;
  transition: color 0.3s, background-color 0.3s, border 0.3s, box-shadow 0.3s;
  transition-timing-function: ease;

  @include max-width($touch) {
    padding: $button-padding-sm;
  }

  &:hover {
    color: $red;
    background-color: transparent;
  }

  &:focus {
    outline: transparent;
    box-shadow: 0 0 2px 2px rgba($color: $red, $alpha: 0.5);
  }

  &.button--invert {
    color: $red;
    background-color: transparent;

    &:hover {
      color: $white;
      background-color: $red;
    }
  }

  svg {
    transition: fill 0.3s, transform 0.3s;
  }

  &--small {
    min-width: $button-small-min-width;
    padding: $button-small-padding;
    font-size: $button-small-font-size;
  }

  &--primary {
    $color: $red;

    color: $white;
    background-color: $color;
    border: 1px solid $color;
    &:hover {
      color: $color;
      background-color: transparent;
    }

    &.button--invert {
      color: $color;
      background-color: transparent;

      &:hover {
        color: $white;
        background-color: $color;
      }
    }

    &:focus {
      outline: 0;
      box-shadow: 0 5px 10px rgba($color, 0.7);
    }
  }

  &--blue {
    $color: $accent;

    color: $white;
    background-color: $color;
    border-color: $color;

    &:hover {
      color: $color;
      background-color: transparent;
    }

    &.button--invert {
      color: $color;
      background-color: transparent;

      &:hover {
        color: $white;
        background-color: $color;
      }
    }

    &:focus {
      outline: 0;
      box-shadow: 0 5px 10px rgba($color, 0.7);
    }
  }
}

/* Inputs && Textareas */
.input,
.textarea {
  padding: $input-padding;
  margin: $input-margin;
  overflow: hidden;
  font-family: $input-font;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg-color;
  border: $input-border;
  border-radius: $input-border-radius;
  outline: transparent;

  @include max-width($touch) {
    padding: $input-padding-sm;
  }

  @include placeholder() {
    font-family: $input-font;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color-placeholder;
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
  }

  &:focus {
    box-shadow: $input-focus;

    @include placeholder() {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

.textarea {
  height: $textarea-height;
  padding: $textarea-padding;
  margin: $textarea-margin;
  resize: none;

  @include max-width($touch) {
    padding: $textarea-padding-sm;
  }
}

// доделать переменные !!!
.file {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;

  &__input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  &__custom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 1.25em;
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: 0.01em;
    background-color: $white;
    border: 1px solid #e5e5e5;
    outline: 0;
  }
  &__text {
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    letter-spacing: 0.01em;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  &__name {
    font-weight: 400;
    line-height: 1.3;
    color: #b8b8b8;
    letter-spacing: 0.01em;
  }
}

/* Checkboxes && Radios */
.checkbox,
.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: $checkbox-margin;
  cursor: pointer;
  &__input {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    width: 1px;
    height: 1px;
    margin: 0;
    opacity: 0;
    transform: translate(-50%, -50%);

    &:checked + .checkbox__custom {
      background-color: $checkbox-bg-color-active;

      .checkbox__icon {
        opacity: 1;
      }
    }
  }
  &__custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $checkbox-size;
    min-width: $checkbox-size;
    height: $checkbox-size;
    min-height: $checkbox-size;
    margin: $checkbox-custom-margin;
    background-color: $checkbox-bg-color;
    border: $checkbox-border;
    border-radius: $checkbox-border-radius;
    transition: 0.3s;
  }
  &__text {
    display: block;
    font-family: $checkbox-font;
    font-size: $checkbox-font-size;
    font-weight: $checkbox-font-weight;
    line-height: $checkbox-line-height;
    color: $checkbox-color;
  }

  &__link {
    color: $checkbox-link-color;
    text-decoration: $checkbox-link-text-decoration;
    transition: color 0.3s;

    &:hover {
      color: $checkbox-link-color-hover;
      text-decoration: $checkbox-link-text-decoration-hover;
    }
  }

  &__icon {
    width: $checkbox-icon-size;
    height: $checkbox-icon-size;
    opacity: 0;
    fill: $red;
    transition: 0.3s;
  }
}

.radio {
  margin: $radio-margin;
  &__input {
    &:checked + .radio__custom {
      background-color: $radio-bg-color-active;

      &::before {
        opacity: 1;
      }
    }
  }

  &__custom {
    position: relative;
    width: $radio-size;
    min-width: $radio-size;
    height: $radio-size;
    min-height: $radio-size;
    margin: $radio-custom-margin;
    background-color: $radio-bg-color;
    border-radius: $radio-border-radius;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $radio-icon-size;
      height: $radio-icon-size;
      content: '';
      background-color: $radio-icon-bg-color;
      border-radius: $radio-border-radius;
      opacity: 0;
      transition: opacity 0.3s;
      transform: translate(-50%, -50%);
    }
  }
}

/* Cancel (Test) */
.cancel {
  position: relative;
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: transparent;
  border: none;
  &--fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
  }
  &:hover,
  &:focus {
    .cancel__item {
      background-color: $red;
    }
  }
  &__item {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #bdbdbd;
    transition: background-color 0.3s;
    &:first-child {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:last-child {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
